@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Mali:wght@400&display=swap');

body {
    font: 16px;
    font-family: 'Comfortaa', cursive;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-color: rgba(166, 195, 199, 0.85);
  }
  h1, h2, h3, h4 {
    font-family: 'Mali', cursive
}
#container {
    margin: 15px 25% 20px 25%;
  }

.marginnote {
    position: absolute;
    left: 72%;
    right: 2%;
    font-size: small;
    opacity: 0.8;
}

.marginnote a {
    font-size: small;
}